@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 103 27 179;
    --color-secondary: 49 49 49;
    --color-secondary-dark: 27 27 27;
    --color-accent: 255 219 0;
    --color-text: 243 243 243;
    --color-background: 18 18 18;
    --color-error: 209 29 43;
    --color-success: 88 194 36;
    --font-size-smallest: 14px;
    --font-size-base: 18px;
    --font-size-card-title: 20px;
    --font-size-title: 32px;
    --font-size-subheader: 56px;
    --font-size-header: 68px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-text));
}
.grecaptcha-badge {
  visibility: hidden;
}

h2 {
  font-size: var(--font-size-subheader);
  line-height: 1.2;
  color: rgb(var(--color-text));
  font-weight: 500;
  text-align: center;
}

h3 {
  font-size: var(--font-size-card-title);
  color: rgb(var(--color-text));
  font-weight: 500;
}

.hero-section::before {
  content: "";
  width: 100%;
  height: 1000px;
  position: absolute;
  z-index: -1;
  max-width: 1170px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(var(--color-primary) / 50%) 5%,
    rgb(var(--color-primary) / 30%) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.outline-cta {
  font-size: var(--font-size-base);
  font-weight: 500;
  outline: 2px solid rgb(var(--color-primary));
  color: rgb(var(--color-text));
  border-radius: 5px;
  padding: 5px 40px;
  transition: all 0.3s;
}

.outline-cta:hover {
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px rgb(var(--color-primary));
  background-color: rgb(var(--color-primary));
}

.cta {
  font-size: var(--font-size-base);
  font-weight: 500;
  background: rgb(var(--color-primary));
  color: rgb(var(--color-text));
  border-radius: 5px;
  padding: 15px 0 15px 0;
  width: 240px;
  transition: all 0.3s;
}

.cta:hover {
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px rgb(var(--color-primary));
}

.cta-main {
  font-weight: 500;
  color: rgb(var(--color-text));
  border-radius: 5px;
  transition: all 0.3s;
}

.cta-main:hover {
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px rgb(var(--color-primary));
}

.cta-secondary {
  font-size: var(--font-size-smallest);
  font-weight: 300;
  color: rgb(var(--color-accent) / 70%);
  transition: all 0.3s;

  &:hover {
    color: rgb(var(--color-accent));
  }
}

.project-card * {
  transition: all 0.3s;
}
.project-card:hover img {
  opacity: 1;
}

.project-card:hover h3 {
  color: rgb(var(--color-text) / 70%);

  transform: translateX(2px);
}

.project-card:hover p {
  color: rgb(var(--color-text) / 30%);
}

.footer-grid {
  display: grid;
  grid-template-columns: minmax(0, 370px) minmax(0, 1px) minmax(0, 370px);
}

.footer-bg {
  background-image: url("https://i.natgeofe.com/n/2a832501-483e-422f-985c-0e93757b7d84/6_3x2.jpg");
  background-size: cover;
  background-position: center;
}

.service-card {
  user-select: none;
}

.input {
  @apply p-2 md-lg:p-4 backdrop-blur-lg bg-background/50 border border-primary/30 rounded-md shadow-xl max-h-[150px] focus:outline-none focus:border-primary focus:bg-background focus:shadow-primary/20;
}

.blur-4xl {
  --tw-blur: blur(78px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}

.services-provided-ul::-webkit-scrollbar {
  display: none;
}

.services-provided-ul {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
